In [7]:
import pandas as pd
df=pd.read_excel("practice_data.xlsx")
df.head()

,EmployeeID,gender,department,Days Present,Accuracy of Work,Meeting Project Deadlines,Task Completion Rates,Interpersonal Skills Rating,Decision-Making Skills Rating,Sales Revenue Generated,churned
0,1,Male,Sales,20,High,Yes,85,8,7,51638,No
1,2,Female,Marketing,22,Medium,Yes,90,7,6,97797,Yes
2,3,Male,Human Resources,25,High,No,80,9,8,95341,No
3,4,Male,Engineering,19,Low,Yes,75,6,5,91806,No
4,5,Female,Finance,23,Medium,Yes,85,7,7,64247,Yes

# Decision tree regressor

In [21]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
X = df[['Task Completion Rates']]
y = df['Interpersonal Skills Rating']
model = DecisionTreeRegressor()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test,y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.526626984126984

# Randon forest regressor

In [25]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [35]:
X = df[['Task Completion Rates']]
y = df['Decision-Making Skills Rating']
model = RandomForestRegressor()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mape = mean_squared_error(y_test, y_pred)
print("Mean squared error:", mape)

Mean squared error: 0.47440471191915856

# Random forest regressor

In [39]:
X_train=df[['Task Completion Rates']]
X_test=df[['Task Completion Rates']]
y_train = df['Decision-Making Skills Rating']
y_test = df['Decision-Making Skills Rating']
model = RandomForestRegressor()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mape = mean_squared_error(y_test, y_pred)
print("Mean squared error:", mape)

Mean squared error: 0.730692530355301